In [ ]:
import pandas as pd
from google.colab import drive
import os

drive.mount('/content/drive')
Drive = "/content/drive/My Drive/data_analysis/competition/Signate_Technopro"

Input = os.path.join(Drive, 'input')
Output = os.path.join(Drive, 'output')
Submission = os.path.join(Drive, "submission")

Mounted at /content/drive

In [ ]:
waypoint_new = pd.read_csv(os.path.join(Input, 'waypoint_new.csv')) # 学習用データ
waypoint_old = pd.read_csv(os.path.join(Input, 'waypoint_old.csv')) # 学習用データ
submit = pd.read_csv(os.path.join(Input, 'sample_submit.csv')) # 応募用サンプルファイル

waypoint_new

     point_name       N_10        E_10
0         ABASA  24.439172  123.252322
1         ABASI  44.000319  144.142750
2         ABECK  32.903744  130.818442
3         ABENO  34.592342  135.698769
4         ABKMA  37.095947  140.421667
...         ...        ...         ...
2487      ZOROH  33.911381  133.796692
2488      ZUKKN  43.288111  141.144761
2489      ZUNDA  38.172353  140.452144
2490      ZUSHI  35.057283  139.523889
2491      ZUWAI  36.630525  136.949808

[2492 rows x 3 columns]

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from PIL import Image

In [ ]:
waypoint_new["point_name"].values

array(['ABASA', 'ABASI', 'ABECK', ..., 'ZUNDA', 'ZUSHI', 'ZUWAI'],
      dtype=object)

In [ ]:
# graph1 = plt.figure(figsize=(80, 120))
# ax = graph1.add_subplot(1, 1, 1)
# plt.scatter(waypoint_new['E_10'],waypoint_new['N_10'])

# for i, txt in enumerate(waypoint_new["point_nwame"].values):
#     plt.annotate(txt, (waypoint_new["E_10"].values[i],waypoint_new["N_10"].values[i]))

# plt.show()

In [ ]:
waypoint_old

      index point_name
0         0      ABASA
1         1      ABASI
2         2      ABBOT
3         3      ABENO
4         4      ABKMA
...     ...        ...
2039   2039      ZELDA
2040   2040      ZOROH
2041   2041      ZUNDA
2042   2042      ZUSHI
2043   2043      ZUWAI

[2044 rows x 2 columns]

In [ ]:
waypoint_merge = pd.merge(waypoint_old,waypoint_new,how="left",on = "point_name")
waypoint_merge

      index point_name       N_10        E_10
0         0      ABASA  24.439172  123.252322
1         1      ABASI  44.000319  144.142750
2         2      ABBOT        NaN         NaN
3         3      ABENO  34.592342  135.698769
4         4      ABKMA  37.095947  140.421667
...     ...        ...        ...         ...
2039   2039      ZELDA  34.322558  135.088317
2040   2040      ZOROH  33.911381  133.796692
2041   2041      ZUNDA  38.172353  140.452144
2042   2042      ZUSHI  35.057283  139.523889
2043   2043      ZUWAI  36.630525  136.949808

[2044 rows x 4 columns]

In [ ]:
waypoint_merge[waypoint_merge.isnull().any(axis=1)] #欠損値の行のみ表示
Nodata = waypoint_merge[waypoint_merge.isnull().any(axis=1)]

Nodata.to_csv(os.path.join(Submission, 'Nodata.csv'), index=False, header=None)
# files.download(os.path.join(Submission, 'Nodata.csv'))

Nodata

      index point_name  N_10  E_10
2         2      ABBOT   NaN   NaN
7         7      ACKUN   NaN   NaN
9         9      ACQUA   NaN   NaN
36       36      AKANE   NaN   NaN
48       48      AKTUS   NaN   NaN
...     ...        ...   ...   ...
1993   1993      YONAM   NaN   NaN
2006   2006       YUDA   NaN   NaN
2011   2011      YUIGA   NaN   NaN
2031   2031      YVETT   NaN   NaN
2035   2035      ZANPA   NaN   NaN

[268 rows x 4 columns]

In [ ]:
print(Nodata.iloc[2,1])

ACQUA

In [ ]:
from scipy import interpolate

print(waypoint_merge.describe())
test = [36,138]
# waypoint_nullcomp = waypoint_merge.interpolate(method = 'akima',axis=0,limit_direction="both")
# waypoint_nullcomp = waypoint_merge.fillna(waypoint_merge.mean())

# def place_fit(df):
#   for i in df
#     if df.iloc[i,"point_name"] = "APPLE"
#       df.iloc[i,"N_10"] = 5


waypoint_merge["N_10"].fillna((36), inplace=True)
waypoint_merge["E_10"].fillna((138), inplace=True)

             index         N_10         E_10
count  2044.000000  1776.000000  1776.000000
mean   1021.500000    34.789093   135.819824
std     590.196295     4.647902     5.394385
min       0.000000    21.000000   122.550000
25%     510.750000    33.189217   131.605908
50%    1021.500000    34.724735   135.805469
75%    1532.250000    36.837935   140.082327
max    2043.000000    49.710000   162.310000

In [ ]:
waypoint_merge

         0          1           2
0        0  24.439172  123.252322
1        1  44.000319  144.142750
2        2  36.000000  138.000000
3        3  34.592342  135.698769
4        4  37.095947  140.421667
...    ...        ...         ...
2039  2039  34.322558  135.088317
2040  2040  33.911381  133.796692
2041  2041  38.172353  140.452144
2042  2042  35.057283  139.523889
2043  2043  36.630525  136.949808

[2044 rows x 3 columns]

In [ ]:
waypoint_merge = waypoint_merge.drop("point_name",axis=1)
waypoint_merge.columns = ["0","1","2"]

waypoint_merge

KeyError: ignored

In [ ]:
from google.colab import drive, files

waypoint_merge.to_csv(os.path.join(Submission, 'submission.csv'), index=False, header=None)
files.download(os.path.join(Submission, 'submission.csv'))